<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBa3PzlJsb88FVsW_BVQYuAPIkmEQ_OjMg</string>
	<key>GCM_SENDER_ID</key>
	<string>1024958463129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asudetimur.zeusWorkshop</string>
	<key>PROJECT_ID</key>
	<string>zeusworkshopfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>zeusworkshopfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024958463129:ios:cbb73a36a4a1f45519cc08</string>
</dict>
</plist>